*{
    padding:0;
    margin:0;
    /* border: 1px  solid #000; 顯示格線 */
}
body{
    overflow: hidden;
}
/*    插入背景圖片    */
.p01{
    background-image:url("https://images.unsplash.com/photo-1523757682081-a78e60705cda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
}
.p02{
    background-image:url("https://images.unsplash.com/photo-1507066274042-8a683a1e6ffe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
}
.p03{
    background-image:url("https://images.unsplash.com/photo-1500521680613-a8f77c5cd0f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
}
.p04{
    background-image:url("https://images.unsplash.com/photo-1484979045040-0ab3854b6acb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1462&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
}
.p05{
    background-image:url("https://images.unsplash.com/photo-1516959512470-53955cd40f40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2546&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    background-attachment: absolute;
    background-position:center;
}
/*    插入導覽列～移動小圓點     */
.nav{
    position: fixed;
    top:50%;
    right:0px;
    cursor:pointer;
}
li{
    width:10px;
    height:10px; 
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset,-1px -1px 1px rgba(0,0,0,0.5) inset;
    list-style-type: none;
}

/* 第一頁～生日快樂 */

h1{
    font-size:60px;
    color:rgb(119, 120, 212);
    text-shadow:0px 0px 10px #eee;
}
.congratulate {
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    font-size:72px ;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
}
/* 第二頁～～許願 */
h2{
    color:rgb(119, 120, 212);
    text-shadow:0px 0px 3px #eee;
    font-size: 30px;
    font-family: 微軟正黑體;
    /* font-weight: 200; */
}
/* 偽元素～製作閃爍游標 */
.type:after , .type2:after , .type3:after {
    content:"";
    border-right: 1px solid #000;
    animation: 0.75s infinite shine;
}
@keyframes shine {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#wish{
    padding: 60px ;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 第三頁～卡片1 */
.type2 , .type3{
    font-size: 20px;
    font-family: 微軟正黑體;
    padding: 20px;
}
#card1 , #card2{
    /* border: 1px  solid #fff; */
    display: block;
    width: 70%;
    height: 65vh;
    margin: 0 auto;
    position: relative;
    top:15%;
    background-color:rgba(255,255,255,0.4);
    /* box-shadow:5px 0px rgba(255,255,255,0.5); */
}

/* 第四頁～卡片2 */

/* 第五頁～愛你 */
.confession{
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    font-size:60px ;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    padding: 0 45px ;
}